<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>J2EPro</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>test.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>TestServlet</servlet-name>					<!-- better if -->
		<servlet-class>servlets.TestServlet</servlet-class> <!-- identical -->
		
		<!--
		<description>Ma première servlet de test.</description>
	    <init-param>
	        <param-name>auteur</param-name> 
	        <param-value>Coyote</param-value> 
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	    -->
	</servlet>

	<servlet>
		<servlet-name>PanierServlet</servlet-name>
		<servlet-class>servlets.PanierServlet</servlet-class>
	</servlet>

    <servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/lol</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
		<servlet-name>PanierServlet</servlet-name>
		<url-pattern>/panier</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreationClient</servlet-name>
		<servlet-class>servlets.CreationClient</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreationClient</servlet-name>
		<url-pattern>/creerClient</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>servlets.Conn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>index</servlet-name>
		<servlet-class>servlets.index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>servlets.Deco</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Moncompte</servlet-name>
		<servlet-class>servlets.Moncompte</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Moncompte</servlet-name>
		<url-pattern>/Mon-compte</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Recupmdp</servlet-name>
		<servlet-class>servlets.Recupmdp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Recupmdp</servlet-name>
		<url-pattern>/recupmdp</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Catalogue</servlet-name>
		<servlet-class>servlets.catalogue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Catalogue</servlet-name>
		<url-pattern>/catalogue</url-pattern>
	</servlet-mapping>
</web-app>