<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">projetEPSIj2ee</property>
  <property name="hibernate.connection.url">jdbc:mysql://guajioty.fr/j2ee</property>
  <property name="hibernate.connection.username">Julien</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping class="entities.Produit"/>
  <mapping class="entities.Menu"/>
  <mapping class="entities.Plat"/>
  <mapping class="entities.Client"/>
  <mapping class="entities.Commande"/>
  <mapping class="entities.Menu"/>
  <mapping class="entities.Panier"/>
  <mapping class="entities.Traiteur"/>
 </session-factory>
</hibernate-configuration>
